body {
  margin: 0px;
  padding: 0px;
  background-color: #868686; }

html {
  scroll-behavior: smooth; }

@media only screen and (max-width: 480px) {
  #grilla {
    margin: 0px;
    padding: 0px;
    display: grid;
    background-color: #122024e8;
    grid-template-areas: "header header" "estadisticas flotantes" "referencias flotantes" "foot foot" "nav nav";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto 15%; }
  /*Estilo para todas las img*/
  img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    justify-content: center; }
  /**/
  /*Header*/
  header {
    grid-area: header;
    display: flex;
    height: 100px;
    flex-direction: row;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: #3c1053;
    border-radius: 0 0 15px 15px; }
  #nombre {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    justify-content: center;
    align-items: center; }
    #nombre h1 {
      margin-bottom: 0; }
    #nombre h3 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      font-size: small; }
  #logo {
    display: flex;
    justify-content: flex-end;
    width: 60%; }
  /*Nav-Bar*/
  span {
    display: none; }
  nav {
    display: flex;
    flex-direction: row;
    padding: 0%;
    grid-area: nav;
    background-color: #393e41;
    position: sticky;
    bottom: 0px;
    border-radius: 15px 15px 0 0; }
    nav .navBar {
      padding: 0%;
      margin: 0%;
      width: 100vw;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      nav .navBar .navItem {
        width: 48px; }
  /*Referencias*/
  #referencias {
    grid-area: referencias;
    background-color: #E04751; }
  /*Estadisticas*/
  #estadisticas {
    grid-area: estadisticas; }
    #estadisticas .contenido {
      background-color: #e5faf7;
      margin: 15px 15px 0 15px;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 4px 4px 20px rgba(28, 70, 63, 0.281);
      text-align: left; }
      #estadisticas .contenido__img img {
        margin: 1px;
        border-radius: 15px 15px 0 0;
        border: 4px solid #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212); }
      #estadisticas .contenido__titulos {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 100px;
        text-decoration: overline; }
      #estadisticas .contenido__txt {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200; }
  /*Flotantes*/
  aside {
    grid-area: flotantes;
    background-color: #bab8b5;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px 0 0 10px; }
  /*Footer*/
  footer {
    grid-area: foot;
    display: grid;
    background-color: #868686;
    height: auto;
    align-items: center;
    margin-top: 15px; }
    footer #redes {
      max-height: 90%;
      width: 100%; } }
